body {
    font-family: sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
}


#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 30px;
}

.recorder, .effects {
    margin: 20px;
    padding: 15px;
    border: 1px dotted #ddd;
    width: 80%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.effect-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.effect, .effect-button {
    margin: 10px;
    padding: 12px;
    background: #970606;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

canvas {
    border: 2px dotted lightgray;
    display: block;
    margin: 20px auto 0 auto;
}
