body {
    font-family: sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
     display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
}


#main-content {
    width: 100%;
    max-width: 900px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 2rem;
}

.recorder, .effects {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px dotted #ddd;
    border-radius: 8px;
    display: flex;      
    align-items: center;      
    gap: 1rem;                
    text-align: center;
}
.recorder{
    flex-direction: row; 
}
.effects{
    flex-direction: column;
}




.effect, .btn {
    margin: 10px;
    padding: 12px 18px;
    background: #970606;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;          
    justify-content: center;   
    gap: 0.75rem 1rem;
}


canvas {
    border: 2px dotted lightgray;
    display: block;
    margin: 20px auto 0 auto;
}
